/* Global Styles */
@font-face {
	font-family: 'VerelaRound';
	src: url('VarelaRound-Regular.eot'); /* IE9 Compat Modes */
	src: url('VarelaRound-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	   
	     url('VarelaRound-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
	     url('VarelaRound-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
html,
body {
  height: 100%;
  width: 100%;
  color:#7a7a7a;
  font-family:"VerelaRound";
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 0px;
  margin-bottom: 0;
  padding: 20px 0
}
#boxWrapp{
  width:100%;
  max-width:1360px;
  margin:0 auto;
  padding:0;
  overflow:hidden;
}
.build{
  padding:15px 0;
  margin:0;
}
.build ul{
  padding:0;
  margin:0;
  list-style:none;
  position:relative;
}

/* =============================== header ===================================== */
.header {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url("../img/mariaprofile.JPG");
  overflow: hidden;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
  position:relative;
}

.maskHeader{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.vert-text {
  width:100%;
    vertical-align: middle;
    text-align: center;
    padding:0 0;
    color:#fff;
    position:absolute;
    bottom:50%;
    left:50%;
    transform: translate(-50%, 50%);
  -webkit-transform: translate(-50%, 50%);
  -moz-transform: translate(-50%, 50%);
  -ms-transform: translate(-50%, 50%);
  -o-transform: translate(-50%, 50%);
}



/*CLOUDS*/
#clouds-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
}


#cloud-2, #cloud-3, #cloud-4, #cloud-4 {
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 2;
}

#cloud-1_1 {
  content: "";
  height: 259px;
  background: url("../img/clouds/cloud0.png");
  background-repeat: repeat-x;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 1;
  background-position: 0px center;
  opacity: .5;
  background-size: contain;
  -webkit-animation-name: cloud_0;
  -webkit-animation-duration: 150s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: cloud_0;
  -moz-animation-duration: 150s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: cloud_0;
  -o-animation-duration: 150s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: cloud_0;
  animation-duration: 150s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#grad {
  position: absolute;
  height: 200px;
  width: 100%;
  bottom: -72px;
  left: 0;
  right: 0;
  background-repeat: repeat-x;
  background: url("../img/clouds/cloud-grad.png");
}

#cloud-2 {
  background: url("../img/clouds/cloud1.png");
  width: 616px;
  height: 283px;
  opacity: .3;
  top: 0px;
  left: 5vw;
  -webkit-animation-name: cloud_2;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: cloud_2;
  -moz-animation-duration: 200s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: cloud_2;
  -o-animation-duration: 200s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: cloud_2;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes cloud_2 {

  0% {
    left: 5vw;
  }

  33% {
    left: 105vw;
  }

  66% {
    left: -282px;
  }

  100% {
    left: 5vw;
  }
}

@-moz-keyframes cloud_2 {
  0% {
    left: 5vw;
  }
  33% {
    left: 105vw;
  }
  66% {
    left: -282px;
  }
  100% {
    left: 5vw;
  }
}

@-o-keyframes cloud_2 {
  0% {
    left: 5vw;
  }
  33% {
    left: 105vw;
  }

  66% {
    left: -282px;
  }
  100% {
    left: 5vw;
  }
}

@keyframes cloud_2 {
  0% {
    left: 5vw;
  }

  33% {
    left: 105vw;
  }
  66% {
    left: -282px;
  }

  100% {
    left: 5vw;
  }
}

#cloud-3 {
  background: url("../img/clouds/cloud2.png");
  width: 1000px;
  height: 291px;
  bottom: 0px;
  left: 0px;
  -webkit-animation-name: slow-left-to-right;
  -webkit-animation-duration: 300s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: slow-left-to-right;
  -moz-animation-duration: 300s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: slow-left-to-right;
  -o-animation-duration: 300s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: slow-left-to-right;
  animation-duration: 300s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slow-left-to-right {
  0% {
    left: 0px;
  }
  33% {
    left: 100vw;
  }
  66% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}

@-moz-keyframes slow-left-to-right {
  0% {
    left: 0px;
  }
  33% {
    left: 100vw;
  }
  66% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}

@-o-keyframes slow-left-to-right {
  0% {
    left: 0px;
  }
  33% {
    left: 100vw;
  }

  66% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}

@keyframes slow-left-to-right {
  0% {
    left: 0px;
  }
  33% {
    left: 100vw;
  }
  66% {
    left: -1000px;
  }
  100% {
    left: 0px;
  }
}


#cloud-4 {
  width: 616px;
  height: 283px;
  background: url("../img/clouds/cloud4.png");
  opacity: 1;
  bottom: -20px;
  right: 0px;
  -webkit-animation-name: cloud_4;
  -webkit-animation-duration: 400s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: cloud_4;
  -moz-animation-duration: 400s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: cloud_4;
  -o-animation-duration: 400s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: cloud_4;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes cloud_4 {
  0% {
    right: 0px;
  }
  33% {
    right: 100vw;
  }
  66% {
    right: 616px;
  }
  100% {
    right: 0px;
  }
}

@-moz-keyframes cloud_4 {
  0% {
    right: 0px;
  }
  33% {
    right: 100vw;
  }
  66% {
    right: 616px;
  }
  100% {
    right: 0px;
  }
}

@-o-keyframes cloud_4 {
  0% {
    right: 0px;
  }
  33% {
    right: 100vw;
  }
  66% {
    right: 616px;
  }
  100% {
    right: 0px;
  }
}

@keyframes cloud_4 {
  0% {
    right: 0px;
  }
  33% {
    right: 100vw;
  }
  66% {
    right: 616px;
  }
  100% {
    right: 0px;
  }
}
#cloud-7 {
  width: 642px;
  height: 383px;
  background: url("../img/clouds/cloud3.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  bottom: -100px;
  right: 0px;
  opacity: .5;
  -webkit-animation-name: slow-right-to-left;
  -webkit-animation-duration: 200s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: slow-right-to-left;
  -moz-animation-duration: 200s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: slow-right-to-left;
  -o-animation-duration: 200s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: slow-right-to-left;
  animation-duration: 200s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes slow-right-to-left {
  0% {
    right: 0px;
  }
  33% {
    right: 100vw;
  }
  66% {
    right: -642px;
  }
  100% {
    right: 0px;
  }
}

@-moz-keyframes slow-right-to-left {
  0% {
    right: 0px;
  }
  33% {
    right: 100vw;
  }

  66% {
    right: -642px;
  }
  100% {
    right: 0px;
  }
}

@-o-keyframes slow-right-to-left {
  0% {
    right: 0px;
  }
  33% {
    right: 100vw;
  }
  66% {
    right: -642px;
  }
  100% {
    right: 0px;
  }
}

@keyframes slow-right-to-left {
  0% {
    right: 0px;
  }
  33% {
    right: 100vw;
  }

  66% {
    right: -642px;
  }

  100% {
    right: 0px;
  }
}

#cloud-8 {
  width: 642px;
  height: 383px;
  background: url("../img/clouds/cloud3.png");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  z-index: 1;
  top: -115px;
  left: 60vw;
  opacity: .3;
  -webkit-animation-name: cloud_8;
  -webkit-animation-duration: 400s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: cloud_8;
  -moz-animation-duration: 400s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;
  -o-animation-name: cloud_8;
  -o-animation-duration: 400s;
  -o-animation-timing-function: linear;
  -o-animation-iteration-count: infinite;
  animation-name: cloud_8;
  animation-duration: 400s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes cloud_8 {
  0% {
    left: 60vw;
  }
  33% {
    left: -616px;
  }

  66% {
    left: 100vw;
  }
  100% {
    left: 60vw;
  }
}

@-moz-keyframes cloud_8 {
  0% {
    left: 60vw;
  }
  33% {
    left: -616px;
  }

  66% {
    left: 100vw;
  }

  100% {
    left: 60vw;
  }
}

@-o-keyframes cloud_8 {
  0% {
    left: 60vw;
  }
  33% {
    left: -616px;
  }
  66% {
    left: 100vw;
  }
  100% {
    left: 60vw;
  }
}

@keyframes cloud_8 {
  0% {
    left: 60vw;
  }
  33% {
    left: -616px;
  }
  66% {
    left: 100vw;
  }
  100% {
    left: 60vw;
  }
}
/*CLOUDS*/
.just{
  text-align: justify;
}
.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 70px;
  font-weight: 600;
  color: #f4d942;
  text-shadow: -0.5px 0 #818181, 0 0.5px #818181, 0.5px 0 #818181, 0 -0.5px #818181;
  font-family: 'Dancing Script', cursive;

}

.vert-text h2{
  color:#fff;
  font-size: 48px;
}
.btnAbout{
  color:#fff;
  font-size:80px;
  position:fixed;
  bottom:5%;
  left:50%;
  margin-left:-44px;
  z-index: 100;
}
.btnAbout:hover{
 color:#fff;   
}
.progress {
  clear: both;
}
.wrapp-progress{
  position:relative;  
  padding-top: 24px;
}
.wrapp-progress p{
  font-size:14px;
  margin:0;
  padding:0;
  line-height:24px;
  position:absolute;
  left:0;
  top: 0px;
}

.precent-value{
  font-size:14px;
  line-height:24px;
  position:absolute;
  right:0;
  top: 0px;
}

/* ==============================================================  Menu ======================================================= */
.main-nav{
  position:fixed;
  top:0;
  display:none;
  width: 100%;
  min-height: 54px;
  z-index:99;
  }
  
  .navbar {
  border-radius: 0px;
  min-height: 54px;
  margin-bottom: 0px;
  width: 100%;
  z-index:99;
  border:none;
  }
  a.navbar-brand {
  float: left;
  height: inherit;
  padding: 3px 15px;
  font-size: 18px;
  line-height: 48px;
  color:#fff;
  }
  .navbar-inverse .navbar-brand {
  color:#fff;
  }
  .navbar-nav > li > a {
  padding-top: 16px;
  padding-bottom: 13px;
  border-bottom:5px solid transparent;
  font-size:14px;
  text-transform:uppercase;
  }
  
  .navbar-inverse .navbar-nav > li > a {
  color: #fff;
  }
  .navbar-inverse .navbar-nav > li.current > a {
  text-decoration:none;
  }
  .navbar-nav > li.current > a, .navbar-inverse .navbar-nav > li > a:hover{
  background:rgba(255,255,255,0.1);
  }
  
/* ========================================= title page ==================================== */
.line-title{
  display: block;
  position: relative;
  margin:0 -15px;
  padding-bottom:40px;
}

.title-page-white{
color:#7a7a7a;

}
.title-page-white h2{
display: table;
background: #fff;
position: relative;
margin: 0 auto;
top: 20px;
z-index: 77;
padding: 0 40px;
}

.title-page-gray{
color:#7a7a7a;

}

#brandcolor{
  /* margin-left: 0px;*/
  margin-bottom: 0px;
} 

.title-page-gray h2{
display: table;
background: #f2f2f2;
position: relative;
margin: 0 auto;
top: 20px;
z-index: 77;
padding: 0 40px;
}

/* Full Page Image Header Area */

.header {
  position: relative;
 
}
.linear{
 transition:all 200ms linear;   
 -webkit-transition:all 200ms linear;   
 -moz-transition:all 200ms linear;   
 -ms-transition:all 200ms linear;   
 -o-transition:all 200ms linear;   
}
/* Intro */

.page {
  padding: 86px 0;
  position:relative;
}
.page-bgcolor{
background:#f2f2f2;
}
/* ================================================= about us ================================================== */
.about-content p{
font-size:24px;
}
/* ============================================== Portfolio ================================================================= */
ul#filterOptions{
margin: 0;
padding: 3px 0;
list-style: none;
display: table; 
}

ul#filterOptions li{
 float:left;
margin-right: -1px;
}
ul#filterOptions li span{
padding: 10px 12px;
display: block;  
color:#c4c4c4;  
}
ul#filterOptions li a{
color:#c4c4c4;  
font-size:18px;
}
ul#filterOptions li.cur a{
 color:#7a7a7a;   
}
ul#filterOptions li a:hover{
 text-decoration:none;  
 color:#7a7a7a;     
}
.box img{
max-width:100%
}
.portfolio-item .thumbnail{
margin:0;
position:relative;
}
.view{
  z-index: 100;
  font-family: 'Actor', sans-serif;

}
.linear{
 transition:all 200ms linear;   
 -webkit-transition:all 200ms linear;   
 -moz-transition:all 200ms linear;   
 -ms-transition:all 200ms linear;   
 -o-transition:all 200ms linear;   
}
.thumb-img{
 position:relative;  
overflow:hidden;
}
.thumb-img a{
display:block;
background:#000;
-webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;  
}
.thumb-img a:hover{
 -webkit-transform: scale(1.05,1.07);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.07);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;   
}
.thumb-img a:hover img{
 opacity:0.7;   
}
.folio-caption{
  position:absolute;
  bottom:-55px;
  left:0; 
  background:rgba(244, 217, 66, 0.8);
  width:100%;
  max-height:48px;
}
.folio-caption p{
 color:#fff;
 padding:15px;
 margin:0;
text-align:center;
font-size:18px;
}
.portfolio-item {
  margin: 0;
  padding:0 0;
}
.main-folio{
 margin:0 auto;
 width:100%;
padding:40px 0;
position:relative;
overflow:hidden;
}
ul.container_folio{
 margin:0 0 0 0;
padding:0 0;
list-style:none;
width:100% !important;

}
ul.container_folio li.box{
margin:0;
padding:0 15px;
width:33.333%;

float:left;
}
.col-md-12{
 clear:both;
}
.img-portfolio {
  margin: 0;
}

div.link{
visibility:hidden;
position:absolute;
top:0;
color:#fff;
font-size:14px;
}

.thumbnail {
border-radius: 0px;
}
/*=================contact====================*/
.main-contact{
 padding: 40px 0;
}


.contact-info p span{
width:24px;
height:24px;
text-align:center;
}
.contact-info .fa{
font-size:18px;
vertical-align:middle;
margin-right:20px;
}

.contact p{
font-size:24px;
margin:0;
padding:0 0 0 0;
}
.contact span{
border-radius: 100%;
-webkit-border-radius: 100%;
-moz-border-radius: 100%;
-ms-border-radius: 100%;
-o-border-radius: 100%;
border:3px solid #7a7a7a;
width:48px;
height:48px;
text-align:center;
font-size:24px;
line-height:42px;
vertical-align:middle;
margin-right:15px;
}
.table-contact{
display:table;
width:100%;
}
ul.table-contact li{
padding-bottom:30px;
}
ul.table-contact li:nth-last-child(1){
padding-bottom:0px;
}
.row-contact{
display:table-row;
padding:0 0 15px 0;
color: #000000;
}
.cell-contact{
display:table-cell;
}
.w-cell{
width:48px;
}
.fa{
  color: #f4d942;
  text-shadow: -0.5px 0 #818181, 0 0.5px #818181, 0.5px 0 #818181, 0 -0.5px #818181;
  
}

/* Footer */

footer {
  color: #ffffff;
  background: #222121;
  padding: 20px 0;
}
.cp-right P{
margin:0;
padding:10px 0;
}
.cp-right P a{
 color:#fff;
 text-decoration:underline;
}
.top-scroll {
  margin: 0;
  padding:0;
}

.top-scroll a {
  text-decoration: none;
  color: inherit;
  display:block;
  font-size:92px;
  line-height:48px;
}
.top-scroll a:hover{
color:#fff;
}
i.scroll {
color: #fff;
position: absolute;
top: -15px;
left:50%;
margin-left: -28px;
}

i.scroll:hover {
color:#fff;
}


/* ========================================== Footer ======================================================= */
.list-inline > li {
display: inline-block;
padding-right: 10px;
padding-left: 10px;
}
.list-inline > li a i{
 vertical-align:middle;
 line-height: 41px;

}
.socIcon{
display:block;
color:#fff;
animation-duration: 750ms;
  -webkit-animation-duration: 750ms;
  -moz-animation-duration: 750ms;
  -ms-animation-duration: 750ms;
  -o-animation-duration: 750ms;
  -webkit-animation-delay: 1000ms;
    -moz-animation-delay: 1000ms;
    -ms-animation-delay: 1000ms;
    -o-animation-delay: 1000ms;
        animation-iteration-count: 1;   
        -webkit-animation-iteration-count: 1;   
        -moz-animation-iteration-count: 1;   
        -ms-animation-iteration-count: 1;   
        -o-animation-iteration-count: 1;  
}
.socIcon:hover{
color:#fff;
}
/* ========================================== Responsive ======================================================= */

@media screen and (min-width:240px) and (max-width: 1024px){
.navbar-nav{
margin:0;
}
.vert-text h1 {
font-size: 48px;
    }
.vert-text h2 {
font-size: 36px;
    }
.btnAbout{
     bottom:-2%;   
    }
}
@media screen and (min-width:240px) and (max-width: 991px){
.cp-right, ul.list-inline{
 text-align:center;       
    }
i.scroll {
color: #fff;
position: relative;
top: 0;
left: 0;
margin-left: 0;
}
    
}

@media (min-width: 768px){
.navbar-nav {
float: none;}
}
@media screen and (min-width:768px) and (max-width: 1199px){
.folio-caption p{
font-size:12px;
}
}
@media screen and (min-width:240px) and (max-width: 767px){
ul.container_folio{
text-align:center;
}
    
 ul.container_folio li.box{
margin:0;
padding:0 15px;
width:100%;
max-width:380px;
display:inline-block;
float:none;
}   

.navbar ul.pull-right{
float:none !important;
}
.navbar-inverse .navbar-nav > li > a.btn, .navbar-inverse .navbar-nav > li span {
    display:none;
}

.navbar-toggle {
margin-top: 25px;
}

}
@media screen and (min-width:240px) and (max-width: 660px){
.btnAbout {
bottom: -5%;
margin-left: -36px;
}
.fa-2x {
font-size: 1.5em !important;
}
.top-scroll a{
font-size: 60px;
}
.vert-text h1 {
font-size: 36px;
    }
.vert-text h2 {
font-size: 21px;
    }
.w-cell {
width: 20%;
}
.title-page-white h2, .title-page-gray h2{
font-size:24px;
top: 16px;
}
a.navbar-brand {
font-size: 24px;
}
.about-content p, .contact p {
font-size: 18px;
}
.contact span {
width: 40px;
height: 40px;
font-size: 16px;
line-height: 34px;
}
.navbar-nav > li > a {
padding-top: 23px;
padding-bottom: 23px;
font-size: 18px;
}
}


.page .description{
    text-align : justify;
}
.page h2{
  margin-top: 30px;
  margin-bottom: 30px;
}

.panel-heading {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;    
}
  .panel-heading:hover{
      cursor:pointer;
  }


.side-tab:hover {
      cursor: pointer;
}

.panel.panel-default {
  border: none;
  box-shadow: none !important;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
      
}
.panel-heading {
  border: none;
  background-color: #818181;
}
.panel-title {
  font-weight: 400;
  color: #FFFFFF;
}

.md-macbook-pro {
  display: block;
  width: 55.3125em;
  height: 31.875em;
  font-size: 13px;
  margin: 0 auto;
}
@media (max-width:1199px){
  font-size: 11px;
}
@media (max-width:1024px){
  font-size: 10px;
}

@media (max-width:767px){
  
  font-size: 7px;
}

@media (max-width:320px){
  font-size: 5px;
}


.md-macbook-pro .md-lid {
  width: 45em;
  height: 30.625em;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  border-radius: 1.875em;
  border: solid 0.1875em #cdced1;
  background: #131313;
  }
  .md-macbook-pro .md-camera {
  width: 0.375em;
  height: 0.375em;
  margin: 0 auto;
  position: relative;
  top: 1.0625em;
  background: #000;
  border-radius: 100%;
  box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
  }
  .md-macbook-pro .md-camera:after {
  content: "";
  display: block;
  width: 0.125em;
  height: 0.125em;
  position: absolute;
  left: 0.125em;
  top: 0.0625em;
  background: #353542;
  border-radius: 100%;
  }
  .md-macbook-pro .md-screen {
  width: 42.25em;
  height: 26.375em;
  margin: 0 auto;
  position: relative;
  top: 2.0625em;
   background: #1d1d1d;
  background: #fff;
  overflow: hidden;
  }
  .md-macbook-pro .md-screen img {
  width: 100%;
  }
  .md-macbook-pro .md-base {
  width: 100%;
  height: 0.9375em;
  position: relative;
  top: -0.75em;
  background: #c6c7ca;
  }
  .md-macbook-pro .md-base:after {
  content: "";
  display: block;
  width: 100%;
  height: 0.5em;
  margin: 0 auto;
  position: relative;
  bottom: -0.1875em;
  background: #b9babe;
  border-radius: 0 0 1.25em 1.25em;
  }
  .md-macbook-pro .md-base:before {
  content: "";
  display: block;
  width: 7.6875em;
  height: 0.625em;
  margin: 0 auto;
  position: relative;
  background: #a6a8ad;
  border-radius: 0 0 0.625em 0.625em;
  }
  .md-macbook-pro.md-glare .md-lid:after {
  content: "";
  display: block;
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 1.25em 0 0;
  background: -webkit-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -moz-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: -o-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  background: linear-gradient(53deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
  }
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {

  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #f4d942;
}

.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #ecedec;
}

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f4d942 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f4d942;
}

.timeline p{
  font-family: 'Patrick Hand', cursive;
  font-size: 17px;
  text-align: justify;
}
#accordion {
  /* font-family: 'Patrick Hand', cursive; */
  text-align: justify;
}

/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #f4d942;
  /*background-image: url("img/abilities/javascript.png"); */
}

.sizeImg{
  width: 30%;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f4d942 transparent transparent;
  }
}

#CVdownload{
  background-color: #f4d942;
  padding: 10px;
  margin: 10px auto;
  color: white;
  text-decoration: none;
}

#CVdownload a:hover{
  color: white;
  text-decoration: none;
}  

/*IM A */
.content {
  position: absolute;
  left: 50%;
  bottom: -330%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 160px;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
  font-size: 35px;
  line-height: 40px;
  color: #FFFFFF;
}
.content__container {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.content__container:before {
  content: '[';
  left: 0;
}
.content__container:after {
  content: ']';
  position: absolute;
  right: 0;
}
.content__container:after, .content__container:before {
  position: absolute;
  top: 0;
  color: #f4d942;
  font-size: 42px;
  line-height: 40px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.content__container__text {
  display: inline;
  float: left;
  margin: 0;
}
.content__container__list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}
.content__container__list__item {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12.66%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  16.66%, 29.32% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
  33.32%,45.98% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  49.98%,62.64% {
    -webkit-transform: translate3d(0, -75%, 0);
            transform: translate3d(0, -75%, 0);
  }
  66.64%,79.3% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  83.3%,95.96% {
    -webkit-transform: translate3d(0, -25%, 0);
            transform: translate3d(0, -25%, 0);
  }
}

#mobile{
  display: none;
}
#abilities{
  background-image: url("../images/bgwhite");
}

#repositories a{
  font-size: 25px;
  background: transparent;
  color: #818181;
}

.trivia{
  width: 41%;
}

ul{
  text-decoration: none;
  list-style: none;
}

.gitDemo{
  margin-top: 20px;
  background-color: #818181;
  padding: 10px;
  text-decoration: none;
  padding: 10px;
  margin: 10px auto;
  color: white;
}

.gitDemo:hover{
  text-decoration: none;
  cursor: pointer;
  background-color: #8e8e8e;
  border-bottom-color: #f4d942;
}

.gitbtn{
  margin-top: 15px;
}

#repositories i{
  position: absolute;
  z-index: 10;
  font-size: 30px;
  background: transparent;
  color: #3333;

}

#contact .fa{
  font-size: 50px;
  margin: 15px;
}
@media (max-width: 1030px){
  .content {
    position: absolute;
    left: 50%;
    bottom: -500%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 40px;
    color: #ecf0f1;
  }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    font-size:100%;
    padding: 0px 10px;
  }
  .content__container:before {
    content: '[';
    left: 0;
  }
  .content__container:after {
    content: ']';
    position: absolute;
    right: 0;
  }
  .content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    color: #f4d942;
    font-size: 25px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .content__container__text {
    display: inline;
    float: left;
    font-size: 155%;
    margin: 0;
    padding-right: 10px;
  }
  .content__container__list {
    margin-top: 0;
    padding-left: 50px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
    padding-left: 30px;
    font-size: 155%;
  }
  
  
}
@media (max-width: 420px) {
  
  .content {
    position: absolute;
    left: 50%;
    bottom: -350%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: 40px;
    color: #ecf0f1;
  }
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    font-size:100%;
    padding: 0px 10px;
  }
  .content__container:before {
    content: '[';
    left: 0;
  }
  .content__container:after {
    content: ']';
    position: absolute;
    right: 0;
  }
  .content__container:after, .content__container:before {
    position: absolute;
    top: 0;
    color: #f4d942;
    font-size: 25px;
    line-height: 40px;
    -webkit-animation-name: opacity;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-name: opacity;
    animation-duration: 2s;
    animation-iteration-count: infinite;
  }
  .content__container__text {
    display: inline;
    float: left;
    font-size: 14px;
    margin: 0;
  }
  .content__container__list {
    margin-top: 0;
    padding-left: 20px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
    font-size:14px;
  }
}
@media (max-width: 660px) {
  
  .content {
    position: absolute;
    left: 50%;
    bottom: -350%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    height: 160px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
  }
}

@media (max-width: 600px) {
  
  .md-macbook-pro {
    display: block;
    width: 55.3125em;
    height: 31.875em;
    font-size: 13px;
    margin: 0 auto;
  }
  .md-macbook-pro .md-lid {
    width: 23em;
    height: 19em;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border-radius: 1.875em;
    border: solid 0.1875em #cdced1;
    background: #131313;
  }
  .md-macbook-pro .md-camera {
    width: 0.375em;
    height: 0.375em;
    margin: 0 auto;
    position: relative;
    top: 1.0625em;
    background: #000;
    border-radius: 100%;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.25);
  }
  .md-macbook-pro .md-camera:after {
    content: "";
    display: block;
    width: 0.125em;
    height: 0.125em;
    position: absolute;
    left: 0.125em;
    top: 0.0625em;
    background: #353542;
    border-radius: 100%;
  }
  .md-macbook-pro .md-screen {
    width: 42.25em;
    height: 26.375em;
    margin: 0 auto;
    position: relative;
    top: 2.0625em;
     background: #1d1d1d;
    background: #fff;
    overflow: hidden;
  }
  .md-macbook-pro .md-screen img {
    width: 100%;
  }
  .md-macbook-pro .md-base {
    width: 100%;
    height: 0.9375em;
    position: relative;
    top: -0.75em;
    background: #c6c7ca;
  }
  .md-macbook-pro .md-base:after {
    content: "";
    display: block;
    width: 100%;
    height: 0.5em;
    margin: 0 auto;
    position: relative;
    bottom: -0.1875em;
    background: #b9babe;
    border-radius: 0 0 1.25em 1.25em;
  }
  .md-macbook-pro .md-base:before {
    content: "";
    display: block;
    width: 7.6875em;
    height: 0.625em;
    margin: 0 auto;
    position: relative;
    background: #a6a8ad;
    border-radius: 0 0 0.625em 0.625em;
  }
    .md-macbook-pro.md-glare .md-lid:after {
    content: "";
    display: block;
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 1.25em 0 0;
    background: -webkit-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
    background: -moz-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
    background: -o-linear-gradient(37deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
    background: linear-gradient(53deg, rgba(255, 255, 255, 0) 50%, rgba(247, 248, 240, 0.025) 50%, rgba(250, 245, 252, 0.08));
    }
}